#grey {
    
    background-color: grey;
    width: 400px;
    height: 400px;
    position: relative;
    border: solid 5px black;

}
#kremowy{
    width: 200px;
    height: 200px;
    background-color: #e4e4e4;
    position: absolute;
    right: 0;
    
}
#orange{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    bottom: 0;                    
    }
